<div>
  <h2 id="page-heading" data-cy="FeedHeading">
    <span jhiTranslate="webrssApp.feed.home.title">Feeds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="webrssApp.feed.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-feed"
        [routerLink]="['/feed/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="webrssApp.feed.home.createLabel">Create a new Feed</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (feeds().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="webrssApp.feed.home.notFound">No Feeds found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="url">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.url">Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="siteName">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.siteName">Site Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="category">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.category">Category</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="autoDiscovered">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.autoDiscovered">Auto Discovered</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="faviconUrl">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.faviconUrl">Favicon Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastFetchedDate">
              <div class="d-flex">
                <span jhiTranslate="webrssApp.feed.lastFetchedDate">Last Fetched Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (feed of feeds(); track trackId(feed)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/feed', feed.id, 'view']">{{ feed.id }}</a>
              </td>
              <td>{{ feed.name }}</td>
              <td>{{ feed.url }}</td>
              <td>{{ feed.siteName }}</td>
              <td>{{ feed.description }}</td>
              <td>{{ feed.category }}</td>
              <td>{{ feed.autoDiscovered }}</td>
              <td>{{ feed.faviconUrl }}</td>
              <td>{{ feed.active }}</td>
              <td>{{ feed.createdDate | formatMediumDatetime }}</td>
              <td>{{ feed.lastFetchedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/feed', feed.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/feed', feed.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(feed)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (feeds().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
